<section class="section">
  <div class="container">
    <h1 class="title">Customers (Alphabetized)</h1>
    
    <div class="buttons mb-4">
      <%= link_to "View All", root_path, class: "button is-info" %>
      <%= link_to "View Missing Email", customers_missing_email_path, class: "button is-warning" %>
    </div>
    
    <div class="columns is-multiline">
      <% @customers.each do |customer| %>
        <div class="column is-one-third">
          <%= render customer %>
        </div>
      <% end %>
    </div>
  </div>
</section>